<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/bf44d8bc3b.js"></script>
    
    <script>
        function startTime() {
          var today = new Date();
          var h = today.getHours();
          var m = today.getMinutes();
          var s = today.getSeconds();
          m = checkTime(m);
          s = checkTime(s);
          document.getElementById('txt').innerHTML =
          h + ":" + m + ":" + s;
          var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
    </script>

    <title>Poisonous Mushroom Classification</title>

    <style>
        /* body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Open Sans', 'Helvetica Neue', sans-serif
        } */
        body{
            font-family: 'Lobster', cursive;
            color: white;
            background-image: url("https://www.aromatics.co.nz/uploads/slides/2140a1780.jpg")
        }
        input{
            color: white
        }
        time{
            color: white
        }
        div{
            font-size: 40px
        }
    </style>
    <!-- <img src="https://www.wallpapermaiden.com/wallpaper/18434/download/1920x1080/mushroom-photography-earth-blurred.jpg"> -->
</head>
<body onload="startTime()">
    <!-- <time id="time"></time> -->
    <div id="txt"></div>
    <center>
        <br>
        <h1>Poisonous Mushroom Classification</h1>
        <br>
        <h4>Is it safe to eat?</h4>
        <br>
        <!-- <img src="https://images-na.ssl-images-amazon.com/images/I/81HK1ha0VyL._SL1500_.jpg" alt="Restaurant" width="200" height="200"> -->
        <br><br><br>
        <form action="/login" method="post" class="col-2">
            <p>Username : <input name="nama_login" type="text" placeholder="input your username ..." required></p>
            <p>Password : <input name="pass_login" type="password" placeholder="input your password ..." required></p>
            <h6>Username or Password incorrect.</h6>
            <input type="submit" value="Log In" class="btn btn-primary btn-small blue">
        </form>
        <br>
        <h5>Don't have an account yet? Create a new account</h5>
        <br>
        <br>
        <a href="/signup"><input type="button" value="Sign Up" class="btn btn-primary btn-small red"></a>
    </center>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>